<section id="projects" class="py-24 bg-black fade-in-section relative overflow-hidden" appFadeIn>
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-0 opacity-20"
  >
    <source src="/src/assets/video2.mp4" type="video/mp4" />
  </video>
  <div class="container mx-auto px-6">
    <div class="flex items-baseline gap-4 mb-12">
      <span class="text-cyan-accent font-mono">02</span>
      <h2 class="text-4xl font-bold uppercase tracking-widest">Proyectos</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (project of projects; track project.title) {
      <div
        class="border border-neutral-800 p-8 flex flex-col h-full hover:-translate-y-2 transition-transform duration-300 group card"
      >
        <!-- Imagen de encabezado -->
        @if (project.image) {
        <div class="mb-6 overflow-hidden rounded-lg">
          <img
            src="{{ project.image }}"
            alt="{{ project.title }}"
            class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-300"
          />
        </div>
        }

        <h3 class="text-2xl font-bold mb-3 text-white">{{ project.title }}</h3>
        <p class="text-neutral-400 mb-6 flex-grow">{{ project.description }}</p>
        <p class="text-sm text-cyan-accent font-mono mb-6">
          {{ project.stack }}
        </p>

        <!-- Enlace condicional -->
        @if (project.link && project.link !== '#') {
        <a
          href="{{ project.link }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-neutral-300 mt-auto hover:text-white self-start transition-colors"
        >
          Ver Detalles &rarr;
        </a>
        } @else {
        <span class="text-neutral-500 mt-auto self-start cursor-not-allowed">
          Próximamente &rarr;
        </span>
        }
      </div>
      }
    </div>
  </div>
</section>
