<section id="contact" class="py-24 bg-black fade-in-section" appFadeIn>
  <div class="container mx-auto px-6 text-center">
    <div class="flex items-baseline gap-4 mb-12 justify-center">
      <span class="text-cyan-accent font-mono">05</span>
      <h2 class="text-4xl font-bold uppercase tracking-widest">Contacto</h2>
    </div>
    <p class="text-xl text-neutral-400 mb-12 max-w-2xl mx-auto">
      Abierto a nuevas oportunidades y colaboraciones. No dudes en ponerte en contacto.
    </p>
    <div class="flex flex-wrap justify-center items-center gap-x-8 gap-y-4 text-lg">
      @for(item of contactInfo; track item.type) {
        @if (item.link !== '#') {
          <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="text-neutral-300 hover:text-cyan-accent transition-colors">
            <span class="font-bold">{{ item.type }}:</span> {{ item.value }}
          </a>
        } @else {
          <p class="text-neutral-300">
            <span class="font-bold">{{ item.type }}:</span> {{ item.value }}
          </p>
        }
      }
    </div>
    <div class="mt-16">
        <a href="/src/assets/Nuevo Cv Que respira.pdf" download="Maximiliano_Camacho_CV.pdf" class="inline-block bg-cyan-accent text-black font-bold py-4 px-10 uppercase tracking-widest hover:bg-white transition-colors duration-300">
          Descargar CV
        </a>
    </div>
  </div>
</section>
