<section id="experience" class="content-block ultra-minimal relative overflow-hidden" appScrollReveal>
  <!-- Glitch video background -->
  <video autoplay loop muted playsinline class="glitch-bg top-0 left-0 w-full h-full object-cover z-0 ">
    <source src="/src/assets/video3.mp4" type="video/mp4">
  </video>
  
  <div class="glasss-bg container mx-auto px-6 max-w-4xl relative z-10">
    <div class="mb-24">
      <span class="text-glitch font-mono text-sm tracking-widest uppercase mb-8 block">04</span>
      <h2 class="text-6xl font-extrabold text-primary mb-12">
        EXPERIENCIA
      </h2>
    </div>
    
    <div class="minimal-card p-8 md:p-12">
      <div class="space-y-16">
        @for (exp of experiences; track exp.title) {
          <div class="border-l border-glitch pl-12 relative" appScrollReveal>
            <div class="absolute -left-px top-0 w-px h-full bg-gradient-to-b from-accent to-transparent"></div>
            <div class="absolute -left-2 top-2 w-3 h-3 bg-accent rounded-full"></div>
            
            <div class="space-y-4">
              <span class="text-glitch font-mono text-sm tracking-wider uppercase">{{ exp.date }}</span>
              <h3 class="text-4xl font-bold text-primary">{{ exp.title }}</h3>
              <p class="subtitle text-xl">{{ exp.company }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>